*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #212a31;
    color: white;
}
 html{
    scroll-behavior: smooth;
 }
 .container-fluid{
    color: white;
    
    
}
#navs{
    color: white;
    margin: 1px 1px 1px 1px;
    
}
#navss{
    color: white;
}
.paragraph{
    margin-top: 0;
    margin-bottom: 0;
}
.caption{
    font-size: 50px;
    padding: 140px 20px 10px 80px;
    
}
.paragraph{
    margin-left: 140px;
    margin-top: 2px;
    color: white;
    font-size: 20px;
    padding-bottom: 200px;

}

  #drop{
    background-color: white;
    color: #212a31;
}
#drop:hover {
    background-color: #124e66;
    color: #fff;
    transition: 0.2s;
  }
  #navs:hover {
    font-weight: bold;
    background-color: #124e66;
    color: #fff;
    box-shadow: 0 0 6px white;
    transition: 0.2s;
    border: 2px solid ;
  }
  #navss:hover {
    font-weight: bold;
    background-color: #124e66;
    box-shadow: 0 0 6px white;
    color: #fff;
    transition: 0.2s;
    border: 2px solid ;
  }

.wrapper{
    display: inline-flex;
    /*margin-left: 70px;*/
    margin-bottom: 200px;
  }
  .wrapper .static-txt{
    color: #d3d9d4;
    font-weight: 400;
    font-size: 50px;
    margin-left: 80px;
    margin-top: 6px;
  }
  .wrapper .dynamic-txts{
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
  
  
  }
  .dynamic-txts li{
    list-style: none;
    font-size:50px ;
    font-weight: 500;
    color:  #212a31;
    position: relative;
    top:0;
    animation: slide 6s steps(4) infinite;
   }
   @keyframes slide{
     100%{
         top:-360px;
        
     }
   }
  .dynamic-txts li span{
    position: relative;

  }
  span{
    color:#92d3f7;
    
    
  }
  .dynamic-txts li span::after{
       content:"";
       position: absolute;
       left:0;
       height: 100%;
       width: 100%;
       background-color:  #212a31;
       border-left: 2px solid #124e66;;
       animation: typing 1.5s steps(10) infinite;
  }
  @keyframes typing{
    100%{
        left:100%;
        margin: 0px -35px 0px 35px;
    }
  }
  
  .card{
    margin-left:35px;
    display: inline;
    

  }
  #cards{
    display: inline-block;
  }
  .cards{
    color: #fff; 
  }

  .card:hover {
    box-shadow: 0 0 8px white;
    color: #fff;
    transition: 0.2s;
    border: 3px solid;
  }
  .cards:hover{
    font-weight: bold;
  }
  .proj{
    list-style-type: none;
    font-weight: bold;
  }
  .proj:hover{
    font-weight: bold;

  }
  #proj{
    text-decoration: underline;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 550px;
    margin: 0 auto;
}

.flex-item {
    width: 30%;
}
#flex-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.flex-items {
  width: 100px;
  height: 200px;
  margin-bottom: 300px;
  margin-left: 145px;

}

svg{
  height: 50px;
  width: 50px;
  margin-left: 255px;
  margin-bottom: 10px;
  display: inline;
}
svg:hover{
  font-weight: bold;
  box-shadow:  0 0 8px white;
  background-color: #92d3f7;
  
}
.contact{
  align-items: center;
  margin-left: 550px;
  margin-bottom: 100px;
  padding-top: 80px;
}
#linkedin{
  margin-left: 220px;
}
.links{
  display: inline;
  margin-left: 230px;
  padding-bottom: 200px;
}

.linker{
  margin-left: 230px;
  display: inline;
}
#gmail{
  margin-left: 280px;
}
.linker:hover{
  font-weight: bold;
  box-shadow: 0 0 8px white ;
}
.photo1{
   height: 400px;
   width: 700px;
   padding-top: 30px;
   margin-left: 250px;
  padding-bottom: 400px;
}
.mywork{
  align-items: center;
  margin-left: 550px;
  margin-bottom: 100px;
  padding-top: 80px;
}
.myworks{
  align-items: center;
  margin-left: 550px;
  margin-bottom: 25px;
  padding-top: 50px

}
.desc{
  padding: 10px 50px 50px 50px;
  margin-left: 80px;
  margin-right: 80px;
}
.desc:hover{
  box-shadow:0 0 8px 0 #92d3f7;
}
.contpara{
  margin-left: 550px;
  padding-bottom: 60px;
}



